@use "../../styles/abstracts";

//backdrop to our calculator
.Calculator__background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  &--default {
    background-color: var(--main-background-1);
  }
  &--light {
    background-color: var(--main-background-2);
  }
  &--dark {
    background-color: var(--main-background-3);
  }
}

//our actual calculator css
.Calculator {
  margin: auto;
  height: 51.5rem;
  width: 38rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include abstracts.respondMax(900px) {
    height: 100%;
    padding: 2rem;
    padding-top: 3rem;
    width: 35rem;
  }
  @include abstracts.respondMax(350px) {
    width: 33rem;
  }
  &--default {
    background-color: var(--main-background-1);
  }
  &--light {
    background-color: var(--main-background-2);
  }
  &--dark {
    background-color: var(--main-background-3);
  }
  &__heading {
    display: flex;
    justify-content: space-between;
    position: relative;
    &--default {
      color: var(--text-primary-1b);
    }
    &--light {
      color: var(--text-primary-2a);
    }
    &--dark {
      color: var(--text-primary-3a);
    }
  }
  &__logo {
    font-size: var(--numbers-font);
  }
  &__toggle {
    display: flex;
    align-items: center;
    .Calculator__text {
      margin-right: 2rem;
      margin-top: 1rem;
      text-transform: uppercase;
    }
  }
  &__error-message {
    position: absolute;
    top: 100%;
  }
  &__screen {
    width: 100%;
    height: 12rem;
    margin-top: 2rem;
    border-radius: 0.5rem;
    overflow-y: scroll;
    position: relative;
    padding: 1rem;
    &--default {
      background-color: var(--screen-background-1);
      color: var(--text-primary-1b);
    }
    &--light {
      background-color: var(--screen-background-2);
      color: var(--text-primary-2a);
    }
    &--dark {
      background-color: var(--keypad-background-3);
      color: var(--text-primary-3a);
    }
  }
  &__math {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 1rem;
  }

  &__screen-number {
    font-size: var(--numbers-font-small);
    margin-left: 0.2rem;
    &--operator {
      margin: 0rem 0.7rem;
      &--multiply {
        transform: translateY(-0.3rem);
      }
      &--subtract {
        transform: translateY(-0.2rem);
      }
    }
    &--negative {
      transform: translateY(-0.9rem) translateX(-0.13rem);
      position: relative;
      &::after {
        content: "";
        border-radius: 50%;
        height: 1.6rem;
        width: 1.9rem;
        border-right-width: 2.5px;
        border-right-style: solid;
        border-left-width: 2.5px;
        border-left-style: solid;
        top: 1.1rem;
        left: -0.25rem;
        position: absolute;
      }
    }
  }
  &__result {
    font-size: var(--numbers-font);
    margin-top: 1rem;
    text-align: right;
    padding-right: 0.8rem;
    width: 100%;
  }
  &__body {
    width: 100%;
    height: calc(50rem - 6rem - 12.2rem);
    padding: 1.8rem;
    margin-top: 2rem;
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: repeat(4, [col-start] 1fr [col-end]);
    grid-template-rows: repeat(6, [row-start] 1fr [row-end]);
    grid-gap: 1.2rem;
    grid-template-areas:
      "seven eight nine del"
      "four five six add"
      "one two three subtract"
      "decimal zero divide multiply"
      "reset factorial exponent negative "
      "equals equals equals equals";
    @include abstracts.respondMax(900px) {
      height: 60%;
      grid-gap: 1rem;
    }
    &--default {
      background-color: var(--keypad-background-1);
    }
    &--light {
      background-color: var(--keypad-background-2);
    }
    &--dark {
      background-color: var(--keypad-background-3);
    }
  }
  .Key {
    &__button--0 {
      grid-area: zero;
    }

    &__button--1 {
      grid-area: one;
    }
    &__button--2 {
      grid-area: two;
    }
    &__button--3 {
      grid-area: three;
    }
    &__button--4 {
      grid-area: four;
    }
    &__button--5 {
      grid-area: five;
    }
    &__button--6 {
      grid-area: six;
    }
    &__button--7 {
      grid-area: seven;
    }

    &__button--8 {
      grid-area: eight;
    }
    &__button--9 {
      grid-area: nine;
    }
    &__button--add {
      grid-area: add;
    }
    &__button--subtract {
      grid-area: subtract;
    }
    &__button--equals {
      grid-area: equals;
    }
    &__button--multiply {
      grid-area: multiply;
    }
    &__button--divide {
      grid-area: divide;
    }
    &__button--reset {
      grid-area: reset;
    }
    &__button--del {
      grid-area: del;
    }
    &__button--decimal {
      grid-area: decimal;
    }

    &__button--exponent {
      grid-area: exponent;
    }
    &__button--negative {
      grid-area: negative;
    }
    &__button--factorial {
      grid-area: factorial;
    }
  }
}
