.Toggle {
  &__container {
    width: 3.5rem;
    background-color: red;
    display: flex;
    border-radius: 1rem;
    justify-content: space-between;
    align-items: center;
    height: 1.2rem;
    position: relative;
    &--default {
      background-color: var(--keypad-background-1);
    }
    &--light {
      background-color: var(--keypad-background-2);
    }
    &--dark {
      background-color: var(--keypad-background-3);
    }
  }

  &__options {
    width: 3.2rem;
    display: flex;
    font-size: 0.8rem;
    justify-content: space-between;
  }
  &__radio-button {
    display: none;
    &--light {
      &:checked ~ .Toggle__circle {
        left: 2%;
        transform: translateX(0%) translateY(-50%);
      }
    }
    &--default {
      &:checked ~ .Toggle__circle {
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
      }
    }
    &--dark {
      &:checked ~ .Toggle__circle {
        left: 98%;
        transform: translateX(-100%) translateY(-50%);
      }
    }
  }
  &__reference {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    opacity: 1;
  }
  &__circle {
    position: absolute;
    width: 0.8rem;
    height: 0.8rem;
    background-color: blue;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 200ms;
    &--default {
    }
    &--light {
    }
    &--dark {
    }
  }
}
